html{
  background:#fff;
  color:#ffffff;
  font-family:sans-serif;
  -webkit-transition:all 2s ease-out;
  -moz-transition: all 2s ease-out;
}
html:hover{
  background:#000;
  -webkit-transition:all 2s ease-out;
  -moz-transition: all 2s ease-out;
}

body{
  width:900px;
  margin:20px auto;
  padding:20px;
  background:#dddddd;
  border-radius:4px;
  box-shadow: 0 0 5px 5px #ffffff;
  opacity:0;
  -webkit-transition: all 2s ease-out;
  -moz-transition: all 2s ease-out;

  position:relative;
}

body:hover{
  opacity:1;
  box-shadow: 0 0 0px 0px #fff;
  border-radius:2px;
  background:#fff;
  -webkit-transition: all 2s ease-out;
  -moz-transition: all 2s ease-out;
}

header, section{
  background:#121221;
  padding:20px;
  border-radius:4px;
  box-shadow: 0 0 5px 5px #080300;
  color: transparent;
  text-shadow: 0 0 10px #FFFFFF;
  opacity:0;
  position:relative;
  -webkit-transition: all 2s ease-out;
  -moz-transition: all 2s ease-out;
}

header:hover, section:hover{
  opacity:1;
  box-shadow: 0 0 0px 0px #000;
  border-radius:2px;
  background:#000;
  color: #fff;
  text-shadow: 0 0 0px #FFFFFF;
  -webkit-transition: all 2s ease-out;
  -moz-transition: all 2s ease-out;
}

header{
  margin-bottom:20px;
}

header h1, section h2{
  margin:0;
}

section h2 a{
  color:#fff;
  text-decoration:none;
}

section p{
  margin-bottom:0;
}



