*{
  margin:0;
  padding:0;
  color:#333;
  font-family:sans-serif;
}
html{
  background:#333;
}

body{
  max-width:400px;
  margin:20px auto;
}
h1{
  padding:16px;
  font-size:38px;
  background:white;
  border-top-left-radius:2px;
  border-top-right-radius:2px;
  margin:0;
}
ul{
  width:100%;
  padding:0;
  border-bottom-left-radius:2px;
  border-bottom-right-radius:2px;
  overflow:hidden;
}
ul li{
  list-style:none;
}
ul li a{
  font-size:24px;
  font-weight:bold;
  text-decoration:none;
  padding:16px;
  display:block;
  color:#333;
  background:#fff;
}
ul li:nth-child(odd) a{
  background:#ccc;
}
ul li:nth-child(odd) a:hover,
ul li a:hover{
  background:lightblue;
}


